<nav class="navbar navbar-expand-lg navbar-light">
    <div class=" container-fluid">
      <a class="navbar-brand" href="#">Cake Studio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropbtn">CAKES <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
              <div class="menu menu1" href="#">By Flavour
                <i class="fa fa-caret-right"></i>
                <div class="submenu">
                  <a href="/products">Chocolate Cakes</a>
                  <a href="../cakes/buttercake.html">Butterscotch Cakes</a>
                  <a href="../cakes/strawcake.html">Strawberry Cakes</a>
                  <a href="../cakes/redcake.html">Red Velvet Cakes</a>
                </div>
              </div>
              <div class="menu menu2" href="#">By Ocassion
                <i class="fa fa-caret-right"></i>
                <div class="submenu">
                  <a href="../cakes/womencake.html">Women's Day Cakes</a>
                  <a href="../cakes/holicake.html">Holi Cakes</a>
                  <a href="../cakes/motherscake.html">Mothers Day Cakes</a>
                  <a href="../cakes/fatherscake.html">Father's Day</a>
                  <a href="../cakes/friendcake.html">Friendship Day Cakes</a>
                  <a href="../cakes/rakhicake.html">Rakhi With Cakes</a>
                </div>      
              </div>
              <div class="menu" href="#">Designer Cakes
                <i class="fa fa-caret-right"></i>
                <div class="submenu">
                  <a href="../cakes/minioncake.html">Minion Cakes</a>
                  <a href="../cakes/babycake.html">Baby shower Cakes</a>
                  <a href="../cakes/princesscake.html">Princess Cakes</a>
                  <a href="../cakes/pubgcake.html">PUBG Cakes</a>
                  <a href="../cakes/mickeycake.html">Mickey Mouse Cakes</a>
                </div>
              </div>
              <div class="menu" href="#">Anniversary Cakes
                <i class="fa fa-caret-right"></i>
                <div  class="submenu">
                  <a href="../cakes/annicake.html">All Anniversary Cakes</a>
                </div>
              </div>
              <div class="menu" href="#">Birthday Cakes
                <i class="fa fa-caret-right"></i>
                <div class="submenu">
                  <a href="../cakes/birthcake.html">All Birthday Cakes</a>
                </div>
              </div>
              <div class="menu" href="#">Desserts
                <i class="fa fa-caret-right"></i>
                <div class="submenu">
                  <a href="../cakes/cupcake.html">Cup cakes</a>
                  <a href="../cakes/jarcake.html">Jar Cakes</a>
                  <a href="../cakes/pastrycake.html">Pastries</a>
                </div>
              </div>
          </li>

          <li class="nav-item ">
            <a id="myBtn" class="nav-link active" href="quote.html">GET-QUOTE</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="contact.html">CONTACT</a>
          </li>
        </ul>
        <div class=" my-lg-0">
          <a href="#" ><i class="btn fab fa-github"></i></a>
          <a href="#" ><i class="btn fab fa-linkedin"></i></a>
          <a href="#" ><i class="btn fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </nav>