<%- include("partials/header") %> 


<div class=".container-fluid bgcake" >
<%- include("partials/navbar") %> 
</div>
<h2 class="card-heading">Popular Flavours</h2>
<div class="container-fluid " style="background-image: url('https://media.bakingo.com/sites/default/files/bkssr/static/media/photo_cakes_bg.a1c9ec30.png');   background-repeat: no-repeat;
background-size: cover; background-position: center; border-radius: 50px;  padding: 50px">
    <div class="d-flex justify-content-center">
        <div class="card" style="width: 20rem; margin: 10px">
        <img src="https://media.bakingo.com/sites/default/files/chocolate@2x_0.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Chocolate</h3>
          <a href="#" class="btn btn-card ">KNOW MORE</a>
        </div>
      </div>
   
        <div class="card" style="width: 20rem; margin: 10px">
            <img src="https://media.bakingo.com/sites/default/files/butterscotch@2x_0.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Butterscotch</h3>
              <a href="#" class="btn btn-card ">KNOW MORE</a>
            </div>
          </div>
   
            <div class="card" style="width: 20rem; margin: 10px">
                <img src="https://media.bakingo.com/sites/default/files/stawberry@2x_0.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">Strawberry</h3>
                  <a href="#" class="btn btn-card ">KNOW MORE</a>
                </div>
              </div>
        </div>











<%- include("partials/footer") %> 
